.bg-primary {
    background-color: #FFB74D!important;
}

.btn-primary {
    color: #fff;
    background-color: #FFB74D;
    border-color: #FFB74D;
}

.bg-primary {
    background-color: #FFB74D!important;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,0.75);
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}

.bg-header{
background-position: center;
background-image: url("./images/header-bg.jpg");
background-size:cover;
height:1080px

}
